<!DOCTYPE html>
<html lang="en">
<head>
    <title>write</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-1 column">
					 <button type="button" class="btn btn-default">按钮</button> <button type="button" class="btn btn-default">按钮</button> <button type="button" class="btn btn-default">按钮</button> <button type="button" class="btn btn-default">按钮</button>
				</div>
				<div class="col-md-2 column">
					<div class="page-header">
						<h1>
							Example page header <small>Subtext for header</small>
						</h1>
					</div>
					<div class="page-header">
						<h1>
							Example page header <small>Subtext for header</small>
						</h1>
					</div>
				</div>
				<div class="col-md-9 column">
					<div class="row clearfix">
						<div class="col-md-12 column">
							<h3>
								h3. 这是一套可视化布局系统.
							</h3>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-md-12 column">
							<h2>
								Heading
							</h2>
							<p>
								Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
							</p>
							<p>
								 <a class="btn" href="#">View details »</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>